@model IEnumerable<WOOLWORTH.Models.WoolworthProducts>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("MANAGER", "Create")
</p>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <h1 color="black" ; 0.class="my-4"><b>Find</b></h1>

            <div class="list-group">
                <a href="#" class="list-group-item">Woman</a>
                <a href="#" class="list-group-item">Men</a>
                <a href="#" class="list-group-item">Kids</a>
                <a href="#" class="list-group-item">Babies</a>
            </div>
        </div>
    </div>
</div>
@*@foreach (var item in Model)
{
}*@<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/men.jpg" alt=""></a>

            <div class="card-body">
                <h4 class="card-title">
                    <font color="black"><a href="#">Stripe Print Cotton Rugby Golf Shirt!</a></font>
                </h4>
                <h5>R 330.00</h5>

                <font color="white"><p class="card-text">Stripe Print Cotton Rugby Golf ShirtRugby inspired, this sporty cotton golfer is exceptionally soft to the touch, and features bold blue and white stripes for a casual style that stands strongly on it's own.!</p></font>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">

            <a href="#"><img class="card-img-top" src="~/img/woman.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <font color="black"><a href="#">Check Ruffle Embroidery Top</a></font>
                </h4>
                <h5>R 250.00</h5>
                <font color="white">
                    <p class="card-text">
                        Make a bold statement in this check-print top, made from soft and fluid fabric, with on-trend touches to up the chic style ante.

                    </p>
                </font>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">


                    <a href="#"><img class="card-img-top" src="~/img/kidsssss.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <font color="black"><a href="#">Bird Side Tie T-Shirt</a></font>
                        </h4>
                        <h5>R 150.00</h5>
                        <font color="white">
                            <p class="card-text">
                                Perfect for endless summer days, this cotton T-shirt gets a magical summer-inspired print featuring a bird made with sequins and appliqué
                            </p>
                        </font>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">

                            <a href="#"><img class="card-img-top" src="~/img/cap.jpg" alt=""></a>

                            <div class="card-body">
                                <h4 class="card-title">
                                    <font color="black"><a href="#">Love Badge Denim Baseball Cap</a></font>
                                </h4>
                                <h5>R60</h5>

                                <font color="white"><p class="card-text">Cool-girl style is easy with this soft denim baseball cap that features a funky heart badge with a charming slogan.!</p></font>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>








    @*@Html.ActionLink("Edit", "Edit", new { id = item.productID }) |
        @Html.ActionLink("Details", "Details", new { id = item.productID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.productID })*@




